# Data Cleaning : Time Series Data


- A hypothetical company, ABC Financial Services Corp makes financial investment decisions on behalf of it's clients based on the company's economic research. A lot of these decisions involve speculating whether financial instruments will increase or decrease in value in the future.
- ABC Corp utilizes several economic indicators but there is one in particular that is heavily weighted in their analysis and that is the [University of Michigan's Consumer Sentiment Survey](https://en.wikipedia.org/wiki/University_of_Michigan_Consumer_Sentiment_Index).
- The only problem is that they have to wait for the release of this indicator which erodes some of their competitive advantage in the market and they would like a way to predict this number.
- I propose to use a form of Machine Learning (ML) to make Time Series preditions on the final Consumer Sentiment number to be released.
- To do this we are going to use other economic indicators (as features) released before and data from various relevant industries to construct a dataset that is ready to run on predictive algorithims.
- The historical datasets that ABC Corp uses will be downloaded as follows:
    - [The Dow Jones Index](https://finance.yahoo.com/quote/%5EDJI/history/)
    - [US Unemployemnt (Jobless Claims) data from the US Department of Labor](https://fred.stlouisfed.org/series/UNRATE)
    - [Historical price of Crude Oil in the open market](https://fred.stlouisfed.org/series/MCOILBRENTEU)
    - [New Housing Starts from US Census Beareau](https://fred.stlouisfed.org/series/HOUST#0)
    - [Total Vehicles Sold](https://fred.stlouisfed.org/series/TOTALSA)
    - [Retail Sales data from US Census Beareau](https://fred.stlouisfed.org/series/RSXFS)
    - [Federal Interest Rates](https://fred.stlouisfed.org/series/FEDFUNDS])
    - [The University of Michigan's Consumer Sentiment Survey](http://www.sca.isr.umich.edu/)  -- data to predict

Data cleaning is highly dependent on the type of data and the task to be achieved. In our case we combine data from different sources and clean up the resulting dataframe. In image classification data, we may have to reshape the image sizes and create labels while a sentiment analysis dataset may need to be checked for spelling and keyword extraction.

Moving forward, we will first import any libraries that we need to handle our data cleaning process.

In [2]:
# Import necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
!pip install seaborn
import seaborn as sns
%matplotlib inline
from scipy import stats
from datetime import datetime
from functools import reduce
import datetime
sns.set_style("darkgrid")

Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
Collecting scipy>=1.0
  Using cached scipy-1.7.3-cp38-cp38-win_amd64.whl (34.2 MB)
Requirement already satisfied: pandas>=0.23 in c:\users\user\desktop\main_env\lib\site-packages (from seaborn) (1.3.5)
Requirement already satisfied: matplotlib>=2.2 in c:\users\user\desktop\main_env\lib\site-packages (from seaborn) (3.5.1)
Requirement already satisfied: numpy>=1.15 in c:\users\user\desktop\main_env\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: cycler>=0.10 in c:\users\user\desktop\main_env\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\desktop\main_env\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\desktop\main_env\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\user\desktop\main_env\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\desktop\main_env\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.6)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\desktop\main_env\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\desktop\main_env\lib\site-packages (from matplotlib>=2.2->seaborn) (4.28.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\desktop\main_env\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\desktop\main_env\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.7.3 seaborn-0.11.2

## Exercise 1:

1- Load all datasets (locate at `../data/` repository) to pandas DataFrames
```python
>>> dow     = 
>>> unemp   =
>>> oil     = 
>>> hstarts = 
>>> cars    = 
>>> retail  = 
>>> fedrate = 
>>> umcsi   = 
```

In [4]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [71]:
# Your code here
dow     = pd.read_csv('../data/Dow Jones Industrial Average DJI.csv')
unemp   = pd.read_csv('../data/Civilian Unemployment Rate UNRATE.csv')
oil     = pd.read_csv('../data/Crude Oil Prices MCOILBRENTEU.csv')
hstarts = pd.read_csv('../data/Housing Starts HOUST.csv')
cars    = pd.read_csv('../data/Total Vehicle SalesTOTALSA .csv')
retail  = pd.read_csv('../data/Advance Retail Sales_RSXFS.csv')
fedrate = pd.read_csv('../data/Federal Interest Rates FEDFUNDS.csv')
umcsi   = pd.read_excel('../data/consumer_sent_UMCH_tbmics.xls', index_col=[0])

2- Visually inspect the dataframes
    - 5 first rows for dow, umemp an oil
    - 5 last rows for umcsi and cars

In [12]:
# Your code here
dow.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1985-01-01,1277.719971,1305.099976,1266.890015,1286.770020,1286.770020,44450000
1,1985-02-01,1276.939941,1307.530029,1263.910034,1284.010010,1284.010010,207300000
2,1985-03-01,1285.339966,1309.959961,1242.819946,1266.780029,1266.780029,201050000
3,1985-04-01,1264.800049,1290.300049,1245.800049,1258.060059,1258.060059,187110000
4,1985-05-01,1257.180054,1320.790039,1235.530029,1315.410034,1315.410034,242250000

In [13]:
unemp.head(5)

         DATE  UNRATE
0  1948-01-01     3.4
1  1948-02-01     3.8
2  1948-03-01     4.0
3  1948-04-01     3.9
4  1948-05-01     3.5

In [14]:
oil.head(5)

         DATE  MCOILBRENTEU
0  1987-05-01         18.58
1  1987-06-01         18.86
2  1987-07-01         19.86
3  1987-08-01         18.98
4  1987-09-01         18.31

In [72]:
umcsi.tail(5)

           Unnamed: 1 THE INDEX OF CONSUMER SENTIMENT
September      2017.0                            95.1
October        2017.0                           100.7
November       2017.0                            98.5
December       2017.0                            95.9
January        2018.0                            95.7

In [17]:
cars.tail(5)

           DATE  TOTALSA
500  2017-09-01     18.9
501  2017-10-01     18.4
502  2017-11-01     17.9
503  2017-12-01     18.2
504  2018-01-01     17.5

3- Get the shape of the different datasets

In [21]:
# Your code here
print("Dow shape is : ", dow.shape)
print("Unemp shape is : ", unemp.shape)
print("Oil shape is : ", oil.shape)
print("Hstarts shape is : ", hstarts.shape)
print("Cars shape is : ", cars.shape)
print("Retail shape is : ", retail.shape)
print("fedrate shape is : ", fedrate.shape)
print("umcsi shape is : ", umcsi.shape)

Dow shape is :  (399, 7)
Unemp shape is :  (841, 2)
Oil shape is :  (369, 2)
Hstarts shape is :  (709, 2)
Cars shape is :  (505, 2)
Retail shape is :  (313, 2)
fedrate shape is :  (763, 2)
umcsi shape is :  (577, 3)

4- Get dataframe top rows view

In [ ]:
# Your code here

5- Print the statistical charateristics of the datsets. 
    - Explain the output
    > write your answer here

In [26]:
!pip install tabulate

Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9

In [32]:
# Your code here
print("Dow dataset statistics : \n ", dow.describe().to_markdown(), "\n")
print("Unemp dataset statistics : \n ", unemp.describe().to_markdown(), "\n")
print("Oil dataset statistics : \n ", oil.describe().to_markdown(), "\n")
print("Hstarts dataset statistics : \n ", hstarts.describe().to_markdown(), "\n")
print("cars dataset statistics : \n ", cars.describe().to_markdown(), "\n")
print("retail dataset statistics : \n ", retail.describe().to_markdown(), "\n")
print("fedrate dataset statistics : \n ", fedrate.describe().to_markdown(), "\n")
print("umcsi dataset statistics : \n ", umcsi.describe().to_markdown())

Dow dataset statistics :
  |       |     Open |     High |      Low |    Close |   Adj Close |        Volume |
|:------|---------:|---------:|---------:|---------:|------------:|--------------:|
| count |   399    |   399    |   399    |   399    |      399    | 399           |
| mean  |  8942.16 |  9234.28 |  8663.22 |  9000.77 |     9000.77 |   2.70831e+09 |
| std   |  5477.9  |  5608.61 |  5352.62 |  5521.22 |     5521.22 |   2.23505e+09 |
| min   |  1257.18 |  1290.3  |  1235.53 |  1258.06 |     1258.06 |   4.445e+07   |
| 25%   |  3437.25 |  3523.6  |  3389.56 |  3475.6  |     3475.6  |   5.35065e+08 |
| 50%   |  9492.32 |  9986.49 |  9116.52 |  9712.28 |     9712.28 |   2.17326e+09 |
| 75%   | 12112.2  | 12372.2  | 11643.9  | 12180.4  |    12180.4  |   4.63915e+09 |
| max   | 26083    | 26616.7  | 25149.3  | 26149.4  |    26149.4  |   1.05611e+10 |

Unemp dataset statistics :
  |       |    UNRATE |
|:------|----------:|
| count | 841       |
| mean  |   5.78775 |
| std   |   1.63486 |
| min   |   2.5     |
| 25%   |   4.6     |
| 50%   |   5.6     |
| 75%   |   6.9     |
| max   |  10.8     |

Oil dataset statistics :
  |       |   MCOILBRENTEU |
|:------|---------------:|
| count |       369      |
| mean  |        45.2116 |
| std   |        33.2255 |
| min   |         9.82   |
| 25%   |        18.6    |
| 50%   |        28.68   |
| 75%   |        64.08   |
| max   |       132.72   |

Hstarts dataset statistics :
  |       |   HOUST |
|:------|--------:|
| count |  709    |
| mean  | 1434.71 |
| std   |  396.95 |
| min   |  478    |
| 25%   | 1183    |
| 50%   | 1465    |
| 75%   | 1669    |
| max   | 2494    |

cars dataset statistics :
  |       |   TOTALSA |
|:------|----------:|
| count | 505       |
| mean  |  15.0386  |
| std   |   2.27301 |
| min   |   9.1     |
| 25%   |  13.6     |
| 50%   |  15.3     |
| 75%   |  16.7     |
| max   |  22.1     |

retail dataset statistics :
  |       |    RSXFS |
|:------|---------:|
| count |    313   |
| mean  | 286467   |
| std   |  78793.7 |
| min   | 146831   |
| 25%   | 214853   |
| 50%   | 295055   |
| 75%   | 341532   |
| max   | 436032   |

fedrate dataset statistics :
  |       |   FEDFUNDS |
|:------|-----------:|
| count |  763       |
| mean  |    4.85608 |
| std   |    3.614   |
| min   |    0.07    |
| 25%   |    2.265   |
| 50%   |    4.65    |
| 75%   |    6.57    |
| max   |   19.1     |

umcsi dataset statistics :
  |       |   Unnamed: 1 |
|:------|-------------:|
| count |     573      |
| mean  |    1992.43   |
| std   |      16.0493 |
| min   |    1952      |
| 25%   |    1982      |
| 50%   |    1994      |
| 75%   |    2006      |
| max   |    2018      |

6- Which datasets have null values

In [38]:
# Your code here
print("number of null values in dow is : ", dow.isnull().sum().sum())
print("number of null values in unemp is : ", unemp.isnull().sum().sum())
print("number of null values in oil is : ", oil.isnull().sum().sum())
print("number of null values in hstarts is : ", hstarts.isnull().sum().sum())
print("number of null values in cars is : ", cars.isnull().sum().sum())
print("number of null values in retail is : ", retail.isnull().sum().sum())
print("number of null values in fedrate is : ", fedrate.isnull().sum().sum())
print("number of null values in umcsi is : ", umcsi.isnull().sum().sum())

number of null values in dow is :  0
number of null values in unemp is :  0
number of null values in oil is :  0
number of null values in hstarts is :  0
number of null values in cars is :  0
number of null values in retail is :  0
number of null values in fedrate is :  0
number of null values in umcsi is :  10

7- What are your observations ?
> write your answer here
- The UMCSI dataset has 10 null values

## Exercise 2: dow dataset

1- Drop column volume

In [43]:
# Your code here
dow = dow.drop(columns = ['Volume'])
dow.head()

         Date         Open         High          Low        Close    Adj Close
0  1985-01-01  1277.719971  1305.099976  1266.890015  1286.770020  1286.770020
1  1985-02-01  1276.939941  1307.530029  1263.910034  1284.010010  1284.010010
2  1985-03-01  1285.339966  1309.959961  1242.819946  1266.780029  1266.780029
3  1985-04-01  1264.800049  1290.300049  1245.800049  1258.060059  1258.060059
4  1985-05-01  1257.180054  1320.790039  1235.530029  1315.410034  1315.410034

2- Rename columns to upper case to match other dfs

In [44]:
# Your code here
dow = dow.rename(columns={'Date': 'Date'.upper(), 'Open': 'Open'.upper(), 'High' : 'High'.upper(), 'Low' : 'Low'.upper(), 
                         'Close' : 'Close'.upper(), 'Adj Close' : 'Adj Close'.upper()})

In [59]:
dow

,DATE,OPEN,HIGH,LOW,CLOSE,ADJ CLOSE
0,1985-01-01,1277.719971,1305.099976,1266.890015,1286.770020,1286.770020
1,1985-02-01,1276.939941,1307.530029,1263.910034,1284.010010,1284.010010
2,1985-03-01,1285.339966,1309.959961,1242.819946,1266.780029,1266.780029
3,1985-04-01,1264.800049,1290.300049,1245.800049,1258.060059,1258.060059
4,1985-05-01,1257.180054,1320.790039,1235.530029,1315.410034,1315.410034
...,...,...,...,...,...,...
394,2017-11-01,23442.900391,24327.820313,23242.750000,24272.349609,24272.349609
395,2017-12-01,24305.400391,24876.070313,23921.900391,24719.220703,24719.220703
396,2018-01-01,24809.349609,26616.710938,24741.699219,26149.390625,26149.390625
397,2018-02-01,26083.039063,26306.699219,23360.289063,25219.380859,25219.380859
398,2018-02-16,25165.939453,25432.419922,25149.259766,25219.380859,25219.380859

3- Create 'Year' column with int values instead of float. Use function bellow:

```python
>>> def to_int(x):
>>>     return int(x)
```

In [60]:
dow['DATE'] = pd.to_datetime(dow['DATE'],format='%Y%d%m')
dow['YEAR'] = to_int(dow['DATE'].year)

ValueError: time data '1985-01-01' does not match format '%Y%d%m' (match)

In [52]:
# Your code here
def to_int(x):
    return int(x)

'1985-01-01985'

## Exercise 3: umcsi dataset

1- Drop NaN Values

In [68]:
# Your code here
umcsi_df = umcsi.dropna()

In [69]:
umcsi_df

    Unnamed: 0  Unnamed: 1 THE INDEX OF CONSUMER SENTIMENT
4     November      1952.0                            86.2
5     February      1953.0                            90.7
6       August      1953.0                            80.8
7     November      1953.0                            80.7
8     February      1954.0                              82
..         ...         ...                             ...
572  September      2017.0                            95.1
573    October      2017.0                           100.7
574   November      2017.0                            98.5
575   December      2017.0                            95.9
576    January      2018.0                            95.7

[573 rows x 3 columns]

2- Combine year columns to one column format

In [70]:
# Your code here
umcsi_df

    Unnamed: 0  Unnamed: 1 THE INDEX OF CONSUMER SENTIMENT
4     November      1952.0                            86.2
5     February      1953.0                            90.7
6       August      1953.0                            80.8
7     November      1953.0                            80.7
8     February      1954.0                              82
..         ...         ...                             ...
572  September      2017.0                            95.1
573    October      2017.0                           100.7
574   November      2017.0                            98.5
575   December      2017.0                            95.9
576    January      2018.0                            95.7

[573 rows x 3 columns]

3- Turn date format to string to match other DATE's for umcsi dataset. We'll merge the data on this column so this is a vital step. Use the function bellow:

```python
>>> def to_str(x):
>>>     return str(x)[:10]
```

In [ ]:
# Your code here

4- Drop unneeded columns for umcsi dataset

In [ ]:
# Your code here

5- Move 'DATE' column to the front

In [ ]:
# Your code here

## Exercice 3:

1- Concatenate all dataframes into one final dataframe using `lambda` function
    - Use the function `reduce` imported from `functools` library

In [ ]:
# Your code here

2- Remove all rows with outliers in at least one row

In [ ]:
# Your code here

3- Change the DATE column from String to python's datetime.datetime format

In [ ]:
# Your code here

4- Rename columns to more user friendly names. Use the code bellow:

```python
>>> df.columns = ['DATE', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'ADJ CLOSE', 'VOLUME', 'UNEMP %','OIL PRICE','NEW HOMES','NEW CARS SOLD', 'RETAIL SALES','FED INTRST %','CSI' ]
```

In [ ]:
# Your code here

5- Visualize a few basic end data characteristics.
<img src="../data/DowJonesIndustrials.png" alt="Drawing" style="width: 500px;"/>
<img src="../data/FederalInterestRate.png" alt="Drawing" style="width: 500px;"/>
<img src="../data/BrentCrudeOilperbarrel.png" alt="Drawing" style="width: 500px;"/>
<img src="../data/NewHomeStarts.png" alt="Drawing" style="width: 500px;"/>

6- Plot the correclation matrix. What's you observations ?

In [ ]:
# Your code here

7- Drop the less useful columns

In [3]:
# Your code here

8- Create a new column / feature from subtracting the LOW and HIGH column called SPREAD which is the difference between the two.

In [3]:
# Your code here

9- Move the SPREAD column next to CLOSE as they are related

In [3]:
# Your code here

10- Reset the index

In [3]:
# Your code here

11- View final dataframe correlation matrix

In [3]:
# Your code here

12- Compare your final result with data on file `../data/cleaned_timeseries.csv`

In [3]:
# Your code here

13- What's your conclusion ?
> Write you answer here